Repository Mohammed-Taysser/foody: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run test

.lintstagedrc.json:

{
  "src/**/*.{ts,json}": ["npm run lint", "npm run format"],
  "**/*.ts": ["npm run test"]
}

ci: add semantic-release workflow
  .github/workflows/release.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
  src/modules/order/order.queue.ts
  src/modules/order/order.worker.ts
Due: npm run lint, npm run format, npm run test

chore: update release workflow for improved efficiency
  .github/workflows/release.yml
Due: none

chore: update permissions in release workflow
  .github/workflows/release.yml
Due: none

chore(release): 1.1.0
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5a4a175ab87e9d24cc339f75f73b40aa8582b063
Due: none

chore: update build script and remove release script; add tsc-alias dependency
  package.json
  pnpm-lock.yaml
  scripts/release.sh
  tsconfig.json
Due: none

chore: update README with testing best practices and setup guide
  CHANGELOG.md
  README.md
  TODO.md
  TROUBLESHOOTING.md
  docs/patterns/arrange-act-assert.md
  package.json
Due: none

chore: update seed script path and refactor seeding logic
  package.json
  scripts/seed.ts
Due: npm run test

chore: move unit testing directory outside src
  __tests__/integrations/api/analytics.test.ts
  __tests__/integrations/api/auth.test.ts
  __tests__/integrations/api/category.test.ts
  __tests__/integrations/api/menu-items.test.ts
  __tests__/integrations/api/order.test.ts
  __tests__/integrations/api/permission-group.test.ts
  __tests__/integrations/api/permission.test.ts
  __tests__/integrations/api/restaurant.test.ts
  __tests__/integrations/api/user.test.ts
  __tests__/jest.setup.ts
  __tests__/middlewares/authenticate.middleware.test.ts
  __tests__/middlewares/compression.middleware.test.ts
  __tests__/middlewares/errorHandler.middleware.test.ts
  __tests__/unit/utils/app.test.ts
  __tests__/unit/utils/dayjs.utils.test.ts
  __tests__/unit/utils/deep-diff.utils.test.ts
  __tests__/unit/utils/multer.utils.test.ts
  jest.config.ts
  package.json
Due: npm run test

feat: implement internationalization support with i18next and add Arabic translations
  .vscode/settings.json
  __tests__/middlewares/authenticate.middleware.test.ts
  __tests__/middlewares/errorHandler.middleware.test.ts
  __tests__/unit/utils/deep-diff.utils.test.ts
  __tests__/unit/utils/multer.utils.test.ts
  locales/ar/common.json
  locales/ar/errors.json
  locales/en/common.json
  locales/en/errors.json
  package.json
  pnpm-lock.yaml
  scripts/check-duplicate-translation-keys.ts
  src/app.ts
  src/config/i18n.ts
  src/middleware/api-rate-limit.middleware.ts
  src/middleware/authenticate.middleware.ts
  src/middleware/authorize.middleware.ts
  src/middleware/error.middleware.ts
  src/modules/auth/auth.controller.ts
  src/types/error.d.ts
  src/types/import.d.ts
  src/utils/errors.utils.ts
  src/utils/multer.utils.ts
  src/utils/network.ts
  src/utils/send-response.ts
  src/validations/pagination.validation.ts
Due: npm run lint, npm run format, npm run test

feat: refactor logging system to use a new structured logger with daily rotation
  docs/utils/logger.md
  src/middleware/logger.middleware.ts
  src/server.ts
  src/services/database-log.service.ts
  src/services/winston-log.service.ts
  src/utils/logger.utils.ts
  src/utils/system-info-logs.ts
  src/utils/winston-logger.utils.ts
Due: npm run lint, npm run format, npm run test

chore(release): 1.2.0
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a5c89e9739e18e14386e827df7921cf603806440
Due: none

feat: refactor validation and controller logic to utilize date range filtering
  TODO.md
  __tests__/integrations/api/order.test.ts
  __tests__/integrations/api/user.test.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250718203049_add_timezone_to_user/migration.sql
  prisma/schema.dbml
  prisma/schema.prisma
  src/app.ts
  src/apps/config.ts
  src/constants/timezones.json
  src/modules/category/category.validator.ts
  src/modules/menu-items/menu-items.validator.ts
  src/modules/order/order.controller.ts
  src/modules/order/order.validator.ts
  src/modules/permission/permission.validator.ts
  src/modules/restaurant/restaurant.validator.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.validator.ts
  src/types/global.d.ts
  src/utils/dayjs.utils.ts
  src/validations/base.validation.ts
Due: npm run lint, npm run format, npm run test

fix: update Decimal usage to Prisma.Decimal in menu item and order controllers
  src/modules/menu-items/menu-items.controller.ts
  src/modules/order/order.controller.ts
Due: npm run lint, npm run format, npm run test

feat: add system health check route and controller
  README.md
  __tests__/unit/utils/app.test.ts
  src/app.ts
  src/modules/system/system.controller.ts
  src/modules/system/system.route.ts
Due: npm run lint, npm run format, npm run test

feat: implement formatter service with various formatting methods
  src/services/formatter.service.ts
  src/utils/dayjs.utils.ts
Due: npm run lint, npm run format, npm run test

fix(users): fix test, drop un-nessecery
  __tests__/integrations/api/user.test.ts
Due: npm run test

fix(pdf): update Puppeteer headless mode for TS compatibility
  package.json
  pnpm-lock.yaml
  src/services/export.service.ts
Due: npm run lint, npm run format, npm run test

fix(tests): increase timeout and properly close Puppeteer to prevent Jest teardown errors
  __tests__/integrations/api/category.test.ts
  __tests__/integrations/api/menu-items.test.ts
  __tests__/integrations/api/order.test.ts
  __tests__/integrations/api/permission-group.test.ts
  __tests__/integrations/api/permission.test.ts
  __tests__/integrations/api/restaurant.test.ts
  __tests__/integrations/api/user.test.ts
Due: npm run test

chore(release): 1.3.0
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  85064002b74d037d4464646901bb3a2f328505ec
Due: none

chore: ci(openapi): add Redocly config & Add filters for each endpoint that has filterable
  .husky/pre-commit
  .redocly.yaml
  CHANGELOG.md
  docs/swagger.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
